@media screen and (max-height: 900px) and (max-width: 600px) {

    .main {
        height: 98vh;
        width: 99vw;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    .sec_A {
        height: 20%;
        width: 95%;
    }

    .sec_all {
        height: 80%;
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .sec_BCDE {
        height: 95%;
        width: 105%;
        align-items: center;
    }

    .sec_B {
        height: 60%;
        width: 95%;
    }

    .sec_CDE {
        height: 30%;
        width: 95.6%;
    }

    .sec_CDE > div {
        height: 75%;
        width: 30%;
    }

    .sec_F {
        height: 30%;
        width: 100%;
    }
}


