
body {
    margin: 0 auto;
    height: 100vh;
    background-color: ghostwhite;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    /*flex-direction: column;*/
}

.main_div {
    height: 90%;
    width: 90%;
    border: 2px solid darkgray;
    margin-top: 30px;
    padding: 0 30px;
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.div_border {
    height: 90%;
    width: 60%;
    border: 2px solid darkblue;
    margin: 3px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*for all BOXes*/
ul {
    margin: 2px;
    padding-left: 5%;
    height: 90%;
}

li {
    list-style: none;
}

li:before {
    content: "*";
    width: 90%;
    height: 90%;
    background-size: cover;
}

/*for BOX all*/
#line1_box1, #line1_box2, #line1_box3, #line1_box4, #line1_box5 {
    color: darkblue;
    background-color: blueviolet;
}


.li_box1 > li:nth-child(odd) {
    color: #e38fce;
}

.li_box2 > li:nth-child(2n+2) {
    color: blue;
    font-size: 22px;
}

.li_box3 > li:nth-child(2n+5)::after {
    color: darkslateblue;
    content: "!";
}

.li_box4 > li:last-child {
    color: blueviolet;

}

.li_box5 > li::first-letter {
    /*content: none;*/
    color: red;
    font-size: 30px;
}

h4::first-letter {
    color: red;
    font-size: 130%;
}



