
body {
    margin: 0 auto;
    height: 100vh;
    background-color: #2B7480;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    height: 50vh;
    width: 50vw;
    margin: 10px 0;
    background-color: #fbfbfb;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 20px;
}

h1 {
    width: 100%;
    text-align: center;
    background-color: #B9D6CF;
    margin: 0;
    border-radius: 20px 20px 0 0;
    padding: 20px 0
}

h4 {
    margin: 20px 0 0 0;
}

.reg_input {
    height: 5%;
    width: 60%;
    margin: 10px 0;
    padding: 10px;
    border: 2px solid darkgray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.reg_input input {
    padding: 3px;
}

.bottom_class {
    height: 15%;
    width: 70%;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.bottom {
    background-color: #B9D6CF;
    border-radius: 10px;
    border: 2px solid darkgray;
    height: 70%;
    width: 40%;
    text-justify: auto;
    cursor: pointer;
    padding: 3px;
}

/*---------- ПІДКЛАСИ --------------------*/
/*Змінити колір рамки (border) для <input>*/
input:focus {
    border: 2px solid gray;
    box-shadow: 1px 1px 2px 0 gray;
}

input:active {
    border: 2px solid gray;
    box-shadow: 1px 1px 2px 0 darkblue;
    background-color: #6bbde1;
}

.bottom:hover {
    background-color: #6bbde1;
}
